<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/materialize.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Gerten Homes</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="white nav-wrapper">
                <a class="brand-logo center responsive-img" id=" logo-container" href="#"><img class="logo"
                        src="../../images/GertenHomes_Logo-03.jpg"></a>
                <a class="brand-logo left" id="logo-container" href="./index.html"><img
                        class="logo exp-nav-logo hide-on-med-and-down" src="../../images/eXpRealty-Black-logo.png"></a>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large right menu-button"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <img class="responsive-img" src="../images/GertenHomes_Logo-05.jpg">
            <li><a class="waves-effect" href="./index.html">HOME</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect" href="./buy.html">BUY</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect" href="./sell.html">SELL</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect" href="#!">HOME SERVICES</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect" href="./design-on-demand.html">DESIGN ON DEMAND</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect" href="./AboutUs.html">ABOUT US</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
            <li><a class="waves-effect login-btn">LOGIN</a></li>
            <li>
                <div class="divider trim-color"></div>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="wrapper">
        <main>
            {{{ body }}}
        </main>
        <br>
        <footer class="center-align">
            Thanks for visiting!
        </footer>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script src="../../js/buy.js"></script>
    
</body>

</html>