<div class="container">
    <div class="row">
        <h3>{{user.username}}</h3>
    </div>
    <div class="row">
        <video class="col s12 m6" controls>
            <source src="../videos/Fall-2020-Newsletter-Cocktail.mp4" />
        </video>
        <div class="col s12 m6">
            {{> comments}}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn-small waves-effect waves-light orange white-text" type="submit">add
                        comment</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <video class="col s12 m6" controls>
            <source src="../videos/Hands-Free-Home-Buying-WELCOME!.mp4" />
        </video>
        <div class="col s12 m6">
            {{> comments}}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn-small waves-effect waves-light orange white-text" type="submit">add
                        comment</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <video class="col s12 m6" controls>
            <source src="../videos/Gerten-Homes-Fall-Pie-Giveaway.mp4" />
        </video>
        <div class="col s12 m6">
            {{> comments}}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn-small waves-effect waves-light orange white-text" type="submit">add
                        comment</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <video class="col s12 m6" loop controls>
            <source src="../videos/State-of-Real-Estate-Top-10-Amenities-for-2021-Real-Estate.mp4" />
        </video>
        <div class="col s12 m6">
            {{> comments}}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn-small waves-effect waves-light orange white-text" type="submit">add
                        comment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <button class="btn-large waves-effect waves-light orange white-text" id="logout" type="submit">logout</button>
</div>

</div>
<script src="../js/comment.js"></script>
<script src="/public/js/logout.js"></script>